@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@font-face{
    font-family: "HyperViperLaserItalicized";
    src: url("hyperviperlaserital.ttf") format("truetype");
  }

@font-face{
    font-family: "HyperViperLeft";
    src: url("hyperviperleft.ttf") format("truetype");
}

@font-face{
    font-family: "HyperViperLaserGradient";
    src: url("hypervipergradital.ttf") format("truetype");
  }

* {
    font: 400 14px 'HyperViperLeft';
}
body {
    background-image: url("/images/vaporwave-city-delorean.jpg");
    background-repeat: no-repeat;
}
aside {
}
footer {

    text-align: center;
}

nav {
    text-align: center;
}

h1 {
    color: #3f6844;
    font-size: 3rem;
    text-align: center;
    font: 400 14px 'HyperViperLaserGradient';
}
header {
    text-align: center;
}
main {
}
.container nav {
    display: flex;
    justify-content: center;
}
    nav a {
        color: #3f6844;
        font-weight: 700;
        text-decoration: none;
    }
ol,
.container ul {
    list-style-type: none;
    display: flex;
}
small {
    font-size: .8rem;
}

.btn {
    background-color: #5daa68;
    border: none;
    border-radius: 5px;
    color: #3f6844;
}
.cards{
    display: flex;
    justify-content: center;
}
.cards2{
    display: flex; 
    justify-content: center;
    padding: 15%;
}
.container{
    display: flex;
    flex-direction: column;
}

.bio-pic img{
        transform: scale(95%);
        border-radius: 100%;
        /* cursor: pointer;
        transition: 500ms; */
}
.card {
    /* background-color: #faf1cf; */
    /* border-radius: 11px; */
    /* border: 1px solid #3f6844; */
    text-align: center;
}
    .card large {
        font-size: 2rem;
    }
    .card a {
        color: #3f6844;
        font-weight: 700;
        text-decoration: none;
    }
    .card h2,
    .card h3 {
        color: #3f6844;
        font-size: 1.25rem;
    }
    .card p{
        color: #3f6844;
    }
.logo {
    color: #D40078;
    font: 400 4rem "HyperViperLaserGradient";
}
